{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} Tous nos biens{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1>Tous nos biens disponnibles !</h1>
        <div class="row flex">
            {% for property in properties %}
                <div class="col-3">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">
                                <a href="{{ path('property_show', {id: property.id, slug: property.slug}) }}">{{ property.title }}</a>
                            </h5>
                            <p class="card-text">{{ property.city }} ({{ property.postalCode }})</p>
                            <div class="text-primary" style="font-weight: bold;font-size: 2rem;">{{ property.formatedPrice }}&euro;</div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
