{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} Bienvenue{% endblock %}

{% block body %}

    <div class="jumbotron text-center">
        <h1>Bienvenue chez Open Agency !</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi repudiandae natus, sapiente id a unde. Repellat quaerat necessitatibus quia, explicabo amet assumenda itaque facilis quod sequi vitae alias aliquid at?</p>
    </div>
    <div class="container">
        <div class="row flex">
            {% for property in properties %}
                <div class="col-3">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">
                                <a href="{{ path('property_show', {id: property.id, slug: property.slug}) }}">{{ property.title }}</a>
                            </h5>
                            <p class="card-text">{{ property.city }} ({{ property.postalCode }})</p>
                            <div class="text-primary" style="font-weight: bold;font-size: 2rem;">{{ property.formatedPrice }}&euro;</div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}
